h1 {font-weight: 200;
    font-size: 70;}
h2 {font-weight: 50;
    font-size: 20;}
h3 {font: weight 250px;
    text-decoration: underline black 1px;}
h4 {float: right}
h5 {font-weight: 50;
    font-size: 20;
    float: center}