h1 {font-weight: 200;
    font-size: 70;}
h2 {font-weight: 1;
    font-size: 20;}
h3 {font: weight 250px;
    text-decoration: underline;}
h4 {float: right;}
h6 {font-weight: 2;
    font-size: 20;
    text-decoration: underline}
h7 {font-weight: 2;
    font-size: 20;
    text-decoration: underline;}