h1 {font-weight: bold; font-size:100x; float: left;}
h2 {float: left; border: 5px black; font-weight: light; background-color: greenyellow;}
h3 {font-weight: bold; text-decoration: underline black 1px;}