
h1#site-title {color: white;
font-family: arial;
background: maroon;
font-size: 60px;
text-align: center}
h1#image-title {color: white;
font-family: arial;
background: darkblue;
font-size: 50px;
text-align: center}
p {font-size: 20px;}
figcaption {padding: 2px;
font-size; 15px}
figure img {width: 50%;
height: auto;
border: 5px dotted red}
p img {width: 50%}
a {font-weight: bold; color: darkblue;}
li {font-weight: bold; color:darkblue;}
ul li a {font-size: larger; font-weight: bolder}